# By default, Elastic Beanstalk attempts to launch the WSGI
# application from application.py.  Change this to app.py
# to match every other Flask application ever.
# From https://testdriven.io/blog/flask-elastic-beanstalk/

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app"
